# Firebase Android
ANDROID_API_KEY=your_android_api_key
ANDROID_APP_ID=your_android_app_id
ANDROID_SENDER_ID=your_android_sender_id
ANDROID_PROJECT_ID=your_project_id
ANDROID_BUCKET=your_storage_bucket
ANDROID_DATABASE_URL=your_android_database_url

# Firebase iOS
IOS_API_KEY=your_ios_api_key
IOS_APP_ID=your_ios_app_id
IOS_SENDER_ID=your_ios_sender_id
IOS_PROJECT_ID=your_project_id
IOS_BUCKET=your_storage_bucket
IOS_DATABASE_URL=your_ios_database_url
IOS_CLIENT_ID=your_ios_client_id
ANDROID_CLIENT_ID=your_android_client_id
IOS_BUNDLE_ID=your_ios_bundle_id

# Google Maps API Key
GOOGLE_MAPS_API_KEY=your_google_maps_api_key
